@use "variables";
@use "mixins";
@use "layout";

.user-avatar {
  width: clamp(140px, 20vw, 250px);
  height: clamp(140px, 20vw, 250px);
  object-fit: cover; 
  border: 3px solid variables.$cor-primaria;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

}